---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Skills from "../components/Skills.astro";
---

<DefaultLayout title="About Me | Portfolio">
  <section class="space-y-6">
    <h1 class="text-3xl font-bold">About Me</h1>
    <p class="text-lg text-gray-700">
      I am 23 years old and currently studying to become a Software Engineer. 
      I am in the 8th semester of the Software Engineering program at 
      <strong>UFAM-ICET</strong>.
    </p>
    <p class="text-lg text-gray-700">
      I am part of the <strong>NAVIR research group</strong> and currently a member of the 
      <strong>MOBA4AI development team</strong>. Within the team, I work as a Frontend 
      developer, handling UI/UX tasks, supporting AI model integrations, 
      and contributing to DevOps operations.
    </p>
    <p class="text-lg text-gray-700">
      My main focus is on <strong>JavaScript</strong>, the language I am 
      currently specializing in. I also have experience with other languages 
      such as C, Kotlin, Swift (for mobile development, an area I am 
      passionate about), and Python.
    </p>

     <Skills />
  </section>
</DefaultLayout>
