---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Contact | Portfolio">
  <section class="space-y-6">
    <h1 class="text-3xl font-bold">Contact</h1>
    <p class="text-lg text-gray-700">
      Feel free to reach out to me through the following platforms:
    </p>
    <ul class="space-y-3">
      <li>
        <a href="https://github.com/mericxy" target="_blank" class="text-blue-600 underline">
          GitHub: github.com/mericxy
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/marcioericlvalente/" target="_blank" class="text-blue-600 underline">
          LinkedIn: linkedin.com/in/marcioericlvalente
        </a>
      </li>
    </ul>
  </section>
</DefaultLayout>
